.body1 {
    background-image: url(../../assets/img/Desktop/Otras-img/img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin: 0px;
    padding: 0px;
}

