.footerpages{
    background-color: black;
    padding: 2rem;
    flex-wrap: nowrap;
    .footerconteiner{
        display: flex;
        justify-content: space-between;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 0.5rem;
        color: $color-letras;
    }
}



i {
    color: white;
}

i:hover{
    color: #BC264B;
}
