.teclado1m{
    background-image: url(../../assets/img/Mobile/TecladoMb/Teclado1m.jpg);
}
.teclado2m{
    background-image: url(../../assets/img/Mobile/TecladoMb/Teclado2m.jpg);
}
.teclado3m{
    background-image: url(../../assets/img/Mobile/TecladoMb/Teclado3m.jpg);
}
.teclado4m{
    background-image: url(../../assets/img/Mobile/TecladoMb/Teclado4m.jpg);
}
.teclado5m{
    background-image: url(../../assets/img/Mobile/TecladoMb/Teclado5m.jpg);
}
.teclado6m{
    background-image: url(../../assets/img/Mobile/TecladoMb/Teclado6m.jpg);
}
.teclado7m{
    background-image: url(../../assets/img/Mobile/TecladoMb/Teclado7m.jpg);
}
.teclado8m{
    background-image: url(../../assets/img/Mobile/TecladoMb/Teclado8m.jpg);
}

.plates1m{
    background-image: url(../../assets/img/Mobile/PlatesM/Plate1.jpg);
}

.plates2m{
    background-image: url(../../assets/img/Mobile/PlatesM/Plate2.jpg);
}

.plates3m{
    background-image: url(../../assets/img/Mobile/PlatesM/Plate3.jpg);
}

.plates4m{
    background-image: url(../../assets/img/Mobile/PlatesM/Plate4.jpg);
}

.plates5m{
    background-image: url(../../assets/img/Mobile/PlatesM/Plate5.jpg);
}

.plates6m{
    background-image: url(../../assets/img/Mobile/PlatesM/Plate6.jpg);
}

.plates7m{
    background-image: url(../../assets/img/Mobile/PlatesM/Plate7.jpg);
}

.plates8m{
    background-image: url(../../assets/img/Mobile/PlatesM/Plate8.jpg);
}


.accesorios1m{
    background-image: url(../../assets/img/Mobile/AccesoriosM/Acc1.jpg);
}

.accesorios2m{
    background-image: url(../../assets/img/Mobile/AccesoriosM/Acc2.jpg);
}

.accesorios3m{
    background-image: url(../../assets/img/Mobile/AccesoriosM/Acc3.jpg);
}

.accesorios4m{
    background-image: url(../../assets/img/Mobile/AccesoriosM/Acc4.jpg);
}

.accesorios5m{
    background-image: url(../../assets/img/Mobile/AccesoriosM/Acc5.jpg);
}

.accesorios6m{
    background-image: url(../../assets/img/Mobile/AccesoriosM/Acc6.jpg);
}

.accesorios7m{
    background-image: url(../../assets/img/Mobile/AccesoriosM/Acc7.jpg);
}

.accesorios8m{
    background-image: url(../../assets/img/Mobile/AccesoriosM/Acc8.jpg);
}
