.teclado1{
    background-image: url(../../assets/img/Desktop/Teclado/Teclado1.jpg);
}
.teclado2{
    background-image: url(../../assets/img/Desktop/Teclado/Teclado2.jpg);
}
.teclado3{
    background-image: url(../../assets/img/Desktop/Teclado/Teclado3.jpg);
}
.teclado4{
    background-image: url(../../assets/img/Desktop/Teclado/Teclado4.jpg);
}
.teclado5{
    background-image: url(../../assets/img/Desktop/Teclado/Teclado5.jpg);
}
.teclado6{
    background-image: url(../../assets/img/Desktop/Teclado/Teclado6.jpg);
}
.teclado7{
    background-image: url(../../assets/img/Desktop/Teclado/Teclado7.jpg);
}
.teclado8{
    background-image: url(../../assets/img/Desktop/Teclado/Teclado8.jpg);
}



.plates1{
    background-image: url(../../assets/img/Desktop/Plates/Keychron-Q0-Keyboard-Aluminum-Plate.jpg);
}

.plates2{
    background-image: url(../../assets/img/Desktop/Plates/Keychron-Q0-Keyboard-Brass-Plate.jpg);
}

.plates3{
    background-image: url(../assets/img/Desktop/Plates/Keychron-V10-Keyboard-ANSI-Layout-Aluminum-Plate.jpg);
}

.plates4{
    background-image: url(../assets/img/Desktop/Plates/Keychron-V10-Keyboard-ANSI-Layout-Brass-Plate.jpg);
}

.plates5{
    background-image: url(../assets/img/Desktop/Plates/Keychron-V3-ANSI-Brass-Plate.jpg);
}

.plates6{
    background-image: url(../assets/img/Desktop/Plates/Keychron-V3-ANSI-PC-Plate.jpg);
}

.plates7{
    background-image: url(../assets/img/Desktop/Plates/keychron-q2-custom-keyboard-aluminum-plate-ansi.jpg);
}

.plates8{
    background-image: url(../assets/img/Desktop/Plates/keychron-q2-custom-mechanical-keyboard-ansi-brass-plate.jpg);
}

.accesorios1{
    background-image: url(../assets/img/Desktop/Accesorios/gateron-switch-puller-package.jpg);
}

.accesorios2{
    background-image: url(../assets/img/Desktop/Accesorios/Keychron-Aluminum-Knob.jpg);
}

.accesorios3{
    background-image: url(../assets/img/Desktop/Accesorios/Keychron-K7-pouch-black2.jpg);
}

.accesorios4{
    background-image: url(../assets/img/Desktop/Accesorios/Keychron-Premium-Coiled-Cable-Aviator-Type-C-Cable-Black-Angled.jpg);
}

.accesorios5{
    background-image: url(../assets/img/Desktop/Accesorios/Keychron-Klube-1.jpg);
}

.accesorios6{
    background-image: url(../assets/img/Desktop/Accesorios/Gateron-Switch-Puller-Red.jpg);
}

.accesorios7{
    background-image: url(../assets/img/Desktop/Accesorios/Keychron-USB-Bluetooth-Adapter-for-Windows-11-10-8-PC.jpg);
}

.accesorios8{
    background-image: url(../assets/img/Desktop/Accesorios/Keychron-Gold-Plated-PCB-Mounted-Screw-In-Stabilizer-Set_1.jpg);
}